[submodule ".registry"]
	path = .registry
	url = https://github.com/ellakaye/ellakaye.r-universe.dev
	branch = HEAD
[submodule "BradleyTerryScalable"]
	path = BradleyTerryScalable
	url = https://github.com/EllaKaye/BradleyTerryScalable
[submodule "aperol"]
	path = aperol
	url = https://github.com/EllaKaye/aperol
[submodule "basepenguins"]
	path = basepenguins
	url = https://github.com/EllaKaye/basepenguins
[submodule "pregnancy"]
	path = pregnancy
	url = https://github.com/EllaKaye/pregnancy
